<header class="header">
    <div class="menu-icon" onclick="openSidebar()">
        <i class="bi bi-list"></i>
    </div>
    <div class="header-right">
        <a href="/dashboard/cuenta">
            <i class="bi bi-person-circle"></i>
        </a>
    </div>
</header>