<header class="header">
    <div class="menu-icon" onclick="openSidebar()">
        <i class="bi bi-list"></i>
    </div>
    <div class="header-right">
        <i class="bi bi-bell"></i>
        <i class="bi bi-person-circle"></i>
    </div>
</header>