<!-- Sidebar -->
<aside id="sidebar">
    <div class="sidebar-logo">
        <img src="/public/img/logo_colon_sin_fondo.png" alt="">
        <i class="bi bi-x-lg" onclick="closeSidebar()"></i>
    </div>

    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a href="#">
                Inicio
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="/dashboard/socios">
                Socios
            </a>
        </li>

        <li class="sidebar-list-item">
            <a href="/dashboard/eventos">
                Eventos
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="#">
                Movimientos
            </a>
        </li>
    </ul>
</aside>

<!-- End Sidebar -->