<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Template de la estrucutura de la pagina</title>
</head>

<body>
    <div class="grid-container">
        <%- include('header') %>
            <%- include('sidebar') %>

                <!-- Main -->
                <main class="main-container">
                    <div class="main-title">
                        <h2>SOCIOS</h2>
                    </div>
                    ACA TIENEN QUE PONER EL CONTENIDO QUE USTEDES DESARROLLEN
                </main>
                <!-- End Main -->
    </div>
    <script src="/public/js/interacciones.js"></script>
</body>

</html>